<h2>Course Landing</h2>

<ul class="course_landing">
  <li>
    <%= link_to(t('My Courses'), my_courses_path)%>
  </li>
  <li>
    <%= link_to(t('Courses Catalog'), courses_path)%>
  </li>
  <li>
    <%= link_to(t('Manage Courses'), manage_courses_path)%>
  </li>
</ul>
