
.activity_container {
  padding: 10px 0px 65px 0px; 
  border-bottom: 1px solid;
}

.bookmark_container{
  padding: 5px 0px 10px 0px; 
  border-bottom: 1px solid;
}

.float_left{
  float: left;
  padding-left: 10px;
}
