.no_data_found_container
{
  text-align:center;
  min-height:100px;
}

.displaynone{
  display: none;
}

.form-horizontal .control-label-right {
  *float: right;
  margin-left: 160px;
  padding-top: 5px;
  text-align: left;
}


