.search-results {
  .facets {
    border: 1px solid #DDDDDD;
    padding:10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    h3, h4 {
      margin:0px;
    }
    ul {
      margin-left: 0px;
      li {list-style: none outside none;}
    }

  }
  .apple_pagination {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E5E5E5;
    cursor: default;
    padding: 1em;
    text-align: center;
  }
  .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em;
  }
  .apple_pagination .disabled {
      color: #AAAAAA;
  }
  .apple_pagination .current {
      background-color: #BEBEBE;
      border-radius: 1em 1em 1em 1em;
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      height: 1.4em;
      line-height: 1.5;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
      width: 1.4em;
  }
  .apple_pagination a {
      color: black;
      text-decoration: none;
  }
  .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline;
  }
  .results_container
  {
    border:1px solid gray;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    background-color:#eee;
    margin-bottom:10px;
  }
  .results_container h3
  {
    border-bottom:1px solid gray;
  }
  .search_result
  {
    padding:4px;
    background-color:#eee;
    margin-bottom:4px;
    .title a {
    }
  }
}

.explore-results {
  h2 {
    padding-top:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
  }
  .overview {
    line-height:11pt;
    margin-bottom:10px;
    display:block;
  }
  .filters {
    background-color:#eee;
    padding-left:4px;
    padding-right:4px;
    h4 {
      background-color:#ddd;
    }
    li:hover {
      background-color:#A9D5F2;
    }
    ul {
      margin:0;
      list-style:none outside none;
      li {
        padding:0 0 0 25px;
        color:#555;
        font-weight:bold;
        a {
          color:#555;
          font-weight:normal;
        }
        span.active {
          color:#2b0fff;
        }
      }
    }

  }
}
